<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @card.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @card.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<p>
  <strong>Group:</strong>
  <%= @card.group_id %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
